body {
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bolder;
  text-align: center;
  color:rgb(0, 0, 0);
  background-image: url(DonutWallpaper2.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: inherit;
}
